<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Lembrar senha</h1>
    <button class="button button-clear button-primary" ng-click="vm.fecharResetPasswordModal()">Fechar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <p>
      Para enviarmos mais informações de como recuperar a sua senha, favor informar o email da usuário e enviar.
    </p>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="vm.userLost.email" type="email">
      </label>
      <button class="button button-full button-positive" ng-click="vm.resetPassword(userLost)">Recuperar Senha</button>
    </div>
  </ion-content>
</ion-modal-view>
