<ion-view view-title="Entrar" class="welcome-view" cache-view="false" hide-back-button="true">

  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="vm.cancelar()">
      Cancelar
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="vm.login()" >
      Enviar
    </button>
  </ion-nav-buttons>

  <ion-content scroll="false" class="has-header" padding="true">
    <div class="top-content row">
      <div class="col col-top">
        <button class="button button-block icon-left ion-social-facebook facebook-blue" ng-click="vm.facebookSignIn()">Continuar com Facebook</button>
      </div>
    </div>
    <hr>
    <div class="bottom-content row">
      <div class="app-copy col col-bottom">
        <form name="formLogin" ng-submit="vm.enviar()">
          <div class="list">
            <label class="item item-input">
              <input type="email" name="email" placeholder="E-mail" ng-model="vm.user.email">
            </label>
            <label class="item item-input">
              <input type="password" name="password" placeholder="Senha" ng-model="vm.user.password">
            </label>
            <p class="text-center">
              <a ng-click="vm.abrirForgotPasswordModal()" href="">Esqueceu a senha?</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
