<ion-view view-title="Informações de Cadastro" cache-view="true" hide-back-button="false">

  <ion-nav-buttons side="secondary">
    <div>
      <button class="button button-clear" ng-click="vm.avancar()">
        Avançar
      </button>
    </div>
  </ion-nav-buttons>

  <ion-content scroll="false" class="has-header" padding="true">
    <div class="top-content row">
      <div class="col col-top">
        <button class="button button-block icon-left ion-social-facebook facebook-blue" ng-click="vm.facebookSignIn()">Avançar com Facebook</button>
      </div>
    </div>
    <hr>
    <div class="bottom-content row">
      <div ng-controller="RegisterCtrl" class="app-copy col col-bottom">
        <form name="formRegister" ng-submit="vm.avancar()" class="css-form">
          <ion-list>
            <label class="item item-input">
              <input type="email" name="email" placeholder="E-mail" ng-model="vm.user.email" required>
            </label>
            <div ng-show="formRegister.$submitted || formRegister.email.$touched">
              <span ng-show="formRegister.email.$error.required">Tell us your email.</span>
              <span ng-show="formRegister.email.$error.email">This is not a valid email.</span>
            </div>
            <code>formRegister.$error.required = {{!!formRegister.$error.required}}</code><br>
            <label class="item item-input">
              <input type="text" name="celphone" placeholder="Celular" ng-model="vm.user.celphone" required>
            </label>
            <label class="item item-input">
              <input type="password" name="password" placeholder="Senha" ng-model="vm.user.password" required>
            </label>
          </ion-list>
          <div class="text-center">
          Usamos seu e-mail e telefone para enviar informações de viagens e recibos.
          <div>
          <button class="button" type="submit" ng-click="vm.avancar()">
            Avançar
          </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
