<ion-view view-title="Cadastro de Usuário" cache-view="true" hide-back-button="false">

  <ion-nav-buttons side="secondary">
    <div>
      <button class="button button-clear" ng-click="vm.avancar()">
        Avançar
      </button>
    </div>
  </ion-nav-buttons>

  <ion-content scroll="false" class="has-header" padding="true">
    <div class="bottom-content row">
      <div class="app-copy col col-bottom">
        <form name="form" ng-submit="vm.avancar()">
          <ion-list>
            <label class="item item-input" >
              <input type="text" placeholder="Nome" ng-model="vm.user.name">
            </label>
            <label class="item item-input" >
              <input type="text" placeholder="CPF" ng-model="vm.user.cpf">
            </label>
            <label class="item item-input" >
              <input type="text" placeholder="RG" ng-model="vm.user.rg">
            </label>
            <label class="item item-input" >
              <input type="text" placeholder="Dada de Nascimento" ng-model="vm.user.birthday">
            </label>
            <ion-checkbox ng-model="vm.user.pro">Usuário Profissional?</ion-checkbox>
          </ion-list>
          <div class="text-center">

          <div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
