<ion-view view-title="Cadastro de Profissional" cache-view="true" hide-back-button="false">

  <ion-nav-buttons side="secondary">
    <div>
      <button class="button button-clear" ng-click="vm.avancar()">
        Avançar
      </button>
    </div>
  </ion-nav-buttons>

  <ion-content scroll="true" class="has-header" padding="true">
    <div class="bottom-content row">
      <div class="app-copy col col-bottom">
        <form name="form" ng-submit="vm.avancar()">
          <ion-list>
            <label class="item item-input item-select">
              <div class="input-label">
                Tipo de Profissional:
              </div>
              <select ng-model="vm.user.type" >
                <option value="1">Motofretista</option>
                <option value="2">Motoboy</option>
                <option value="3">Motofretista e Motoboy</option>
              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Meio de Pagamento:
              </div>
              <select ng-model="vm.user.paymentMethod" >
                <option value="1" selected="selected">Dinheiro</option>
                <option value="2">Fatura*</option>
                <option value="3">Cartão de Débito</option>
                <option value="4">Cartão de Crédito</option>
              </select>
            </label>
            <label class="item item-input" >
              <input type="text" placeholder="Endereço" ng-model="vm.user.address">
            </label>
            <label class="item item-input" >
              <input type="text" placeholder="Número" ng-model="vm.user.addressNumber">
            </label>
            <label class="item item-input" >
              <input type="text" placeholder="Complemento" ng-model="vm.user.addressComplement">
            </label>
            <label class="item item-input" >
              <input type="text" placeholder="CEP" ng-model="vm.user.cep">
            </label>
          </ion-list>
          <div class="text-center">
            * Meio de pagamento Fatura: Somente para motofretista.
          <div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
