<ion-view title="{{vm.config.title}}" cache-view="false" hide-back-button="false">

  <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-ios-minus-outline"
        ng-click="vm.showHideDelete()">
      </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="vm.addVehicle()" >
      Novo
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher on-refresh="vm.doRefresh()"></ion-refresher>
    <ion-list show-delete="vm.config.showDelete">
      <!-- not using collection repeat since we have a rather finite amount of results and variable height items -->
      <ion-item class="item item-icon-right item-remove-animate item-avatar"
                ng-repeat="vehicle in vm.vehicles" type="item-text-wrap"
                ng-click="vm.editVehicle(vehicle)">

        <ion-delete-button
          class="ion-minus-circled button icon button-icon"
          ng-click="vm.deleteVehicle(vehicle)">
        </ion-delete-button>
        <img src="img/p.jpg">
        <a class="item ">
          <h2>Placa: {{vehicle.license_plate}} Ano : {{vehicle.manufacture_year}}</h2>
          <p>{{vehicle.vehicle_model.description}}</p>
        </a>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="spinner ng-hide" ng-show="percentLoaded != 1 && !timesUp && !starting" ng-style="{'top':getHalfHeight()+'px'}">
        <i class="icon ion-loading-d energized"></i>
      </div>

      <ion-item class="padding text-center" ng-if="!vm.config.error && vm.vehicles.length < 1" >
        <h3>Nenhum veículo registrado.</h3>
      </ion-item>

      <ion-item class="padding text-center" ng-if="vm.config.error">
        <h3>A requisição falhou</h3>
        <small>Verifique se continua online. Se está, talvez o servidor esteja fora do ar.</small>
      </ion-item>

      <ion-infinite-scroll on-infinite="vm.loadMore()" distance="5%"
          ng-if="vm.moreDataCanBeLoaded()" >
      </ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
