<ion-view title="Placa: {{vm.vehicle.license_plate}}" cache-view="false" hide-back-button="false">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-minus-outline"
      ng-click="vm.deleteVehicle()">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list card">

      <ion-item class="item-icon-left">
        <i class="icon ion-ios-email-outline"></i>
        <h2>{{vm.vehicle.license_plate}}</h2>
        <p>
          <span class="email-text">{{vm.vehicle.license_plate}}</span>
          <span class="item-note email-text">
            {{email.date | date:'EEE M/d/yyyy h:mm a'}}
          </span>
        </p>
      </ion-item>

      <ion-item class="item-text-wrap email-body-text">
          {{email.body}}
      </ion-item>

      <label class="item item-input item-select">
        <div class="input-label">
          Tipo de Profissional:
        </div>
        <select ng-model="vm.user.type" >
          <option value="1">Motofretista</option>
          <option value="2">Motoboy</option>
          <option value="3">Motofretista e Motoboy</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Meio de Pagamento:
        </div>
        <select ng-model="vm.user.paymentMethod" >
          <option value="1" selected="selected">Dinheiro</option>
          <option value="2">Fatura*</option>
          <option value="3">Cartão de Débito</option>
          <option value="4">Cartão de Crédito</option>
        </select>
      </label>

      <label class="item item-input" >
        <input type="text" placeholder="Endereço" ng-model="vm.user.address">
      </label>
      <label class="item item-input" >
        <input type="text" placeholder="Número" ng-model="vm.user.addressNumber">
      </label>
      <label class="item item-input" >
        <input type="text" placeholder="Complemento" ng-model="vm.user.addressComplement">
      </label>
      <label class="item item-input" >
        <input type="text" placeholder="CEP" ng-model="vm.user.cep">
      </label>

      <ion-item class="padding text-center" ng-if="error">
        <h3>Request Failed</h3>
        <small>Check that you are online. If you are, the server may be offline.</small>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
