<ion-view title="Notificações"  hide-back-button="false">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear ion-android-more-vertical"  >
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item comment"
                ng-show="true"
                ng-class="''"
                ng-click="true"
                ng-style="{'padding-left':alert.level*15+'px'}">
        <p class="timestamp">{{'2016-05-28 16:30:51' | timeAgo}}</p>
        <p class="author">Abril Paula Vila <i class="icon ion-arrow-down-b"></i></p>
        <div class="text" ng-bind-html="trust(alert.text)" ng-click="bubbleCheck($event)"></div>
      </ion-item>
      <!-- not using collection repeat since we have a rather finite amount of results and variable height items -->
      <ion-item class="item comment"
                ng-repeat="alert in alerts"
                ng-show="percentLoaded == 1 && !delay"
                ng-class="alert.hide?'hidden':''"
                ng-click="alert.hide = !alert.hide"
                ng-style="{'padding-left':alert.level*15+'px'}">
        <p class="timestamp">{{alert.time | timeAgo}}</p>
        <p class="author">{{alert.by}} <i class="icon ion-arrow-down-b"></i></p>
        <div class="text" ng-bind-html="trust(alert.text)" ng-click="bubbleCheck($event)"></div>
      </ion-item>
      <div class="spinner ng-hide" ng-show="percentLoaded != 1 && !timesUp && !starting" ng-style="{'top':getHalfHeight()+'px'}">
        <i class="icon ion-loading-d energized"></i>
      </div>
      <ion-item class="padding text-center" ng-if="timesUp && alerts.length < 1" >
        <h3>Unable to Load Comments</h3>
      </ion-item>

      <ion-item class="padding text-center" ng-if="error">
        <h3>Request Failed</h3>
        <small>Check that you are online. If you are, the server may be offline.</small>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
