<ion-view view-title="KiRápido" cache-view="false" hide-back-button="false">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear " ng-click="vm.showLogOutMenu()" >
      <i class="icon ion-ios-gear-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
      <div class="list card">
        <div class="item item-divider item-icon-right">
          Entregas Pendentes
          <i class="icon ion-ios-location-outline"></i>
        </div>
        <div class="item item-body item-button-right">
          Entrega 1{{delivery.name}}
          <a class="button button-outline button-dark" title="Confirmar Entrega">
            <i class="icon ion-ios-checkmark-outline"></i>
          </a>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider item-icon-right">
          Cotações Pendentes
          <i class="icon ion-ios-calculator-outline"></i>
        </div>
        <div class="item item-body item-button-right">
          Cotação 1{{delivery.name}}
          <a class="button button-outline button-dark" title="Receber Cotação">
            <i class="icon ion-ios-download-outline"></i>
          </a>
          <a class="button button-outline button-dark" title="Responder Cotação">
            <i class="icon ion-ios-redo"></i>
          </a>
          <a class="button button-outline button-dark " title="Aprovar Cotação">
            <i class="icon ion-ios-checkmark-outline"></i>
          </a>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider item-icon-right">
          Administração
          <i class="icon ion-ios-settings"></i>
        </div>
        <div class="item item-body">
          <label class="item item-input item-select">
              <div class="input-label">
                Ações:
              </div>
              <select>
                <option selected>Selecione</option>
                <option>Alterar o status do aplicativo</option>
                <option>Enviar alertas informativos</option>
              </select>
          </label>
        </div>
      </div>
    <ion-item class="padding text-center" ng-if="timesUp && alerts.length < 1" >
      <h3>Unable to Load</h3>
    </ion-item>

    <ion-item class="padding text-center" ng-if="error">
      <h3>Request Failed</h3>
      <small>Check that you are online. If you are, the server may be offline.</small>
    </ion-item>
  </ion-content>
</ion-view>
