<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-dark">

  <!-- Home Tab -->
  <ion-tab title="Início" icon-off="ion-ios-home-outline"
      icon-on="ion-ios-home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!--  Tab -->
  <ion-tab title="Meus Veículos" icon-off="ion-ios-speedometer-outline"
      icon-on="ion-ios-speedometer" ui-sref="tab.vehicle-list">
    <ion-nav-view name="tab-vehicle"></ion-nav-view>
  </ion-tab>

  <!--  Tab -->
  <ion-tab title="Cotação" icon-off="ion-ios-calculator-outline"
      icon-on="ion-ios-calculator" ui-sref="tab-tab/?">
    <ion-nav-view name="tab-?"></ion-nav-view>
  </ion-tab>

  <!--  Tab -->
  <ion-tab title="Notificações" icon-off="ion-ios-bell-outline"
      icon-on="ion-ios-bell" ui-sref="tab.notifications"
      badge="12" badge-style="badge-assertive">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

  <!--  Tab -->
  <ion-tab title="Configurações" icon-off="ion-ios-gear-outline"
      icon-on="ion-ios-gear" ui-sref="tab-tab/?">
    <ion-nav-view name="tab-?"></ion-nav-view>
  </ion-tab>

</ion-tabs>
