<ion-view view-title="Início" class="welcome-view" cache-view="false" hide-nav-bar="true" >
  <ion-content scroll="false" class="has-footer" >
    <img src="img/motoboy-sinalizador.jpeg" class="welcome-logo" height="auto" width="40%">
    <div class="text-center h3 welcome-title">
      KiRápido
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer bar-clear" >
    <div class="row">
      <div class="col col-center">
        <button class="button button-block button-positive icon-left ion-log-in" ng-click="go('login')">Entrar</button>
      </div>
      <div class="col col-center">
        <button class="button button-block button-dark icon-left ion-person-add" ng-click="go('register')">Registrar</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
