/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@charset "UTF-8";

.platform-ios .manual-ios-statusbar-padding{
  padding-top:20px;
}
.manual-remove-top-padding{
  padding-top:0px;
}
.manual-remove-top-padding .scroll{
  padding-top:0px !important;
}

span.welcome-title {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img.welcome-logo {
  vertical-align: middle;
  left: 50%;
  margin-left: 30%;
}

.facebook-blue {
	background-color: #3B5998 !important;
	border-color: #3B5998 !important;
	color: white !important;
}

.pane {
    background: url(../../img/back-03.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

.background {
    margin: auto;
    z-index: 2;
}
